{% extends 'layouts/backend.html.twig' %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="w-full mb-3 flex justify-end items-center">
        <a href="{{ url_for('user.create') }}"
           class="bg-green-500 hover:bg-green-700 text-white text-sm font-semibold uppercase py-2 px-3 rounded focus:outline-none focus:shadow-outline">
            Add User
        </a>
    </div>
    {% if users|length %}
        <div class="flex flex-col">
            <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-300">
                    <table class="min-w-full">
                        <thead>
                        <tr>
                            <th class="px-6 py-3 border-b border-gray-300 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                                #
                            </th>
                            <th class="px-6 py-3 border-b border-gray-300 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                                Name
                            </th>
                            <th class="px-6 py-3 border-b border-gray-300 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                                Last Login
                            </th>
                            <th class="px-6 py-3 border-b border-gray-300 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider">
                                Created
                            </th>
                            <th class="px-6 py-3 border-b border-gray-300 bg-gray-50"></th>
                        </tr>
                        </thead>
                        <tbody class="bg-white">
                        {% for user in users %}
                            <tr>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
                                    <div class="text-sm leading-5 text-gray-900">{{ user.id }}</div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
                                    <div class="text-sm leading-5 font-medium text-gray-900">{{ user.name }}</div>
                                    <div class="text-sm leading-5 text-gray-700">{{ user.email }}</div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300 text-sm leading-5 text-gray-700">
                                    {{ user.lastLogin ? user.lastLogin|date() : '-' }}
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300 text-sm leading-5 text-gray-700">
                                    {{ user.createdAt ? user.createdAt|date() : '-' }}
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-300 text-sm leading-5 font-medium">
                                    <div class="flex flex-no-wrap justify-end">
                                        <a href="{{ url_for('user.edit', {id: user.id}) }}" title="Edit" class="text-indigo-600 hover:text-indigo-900 focus:outline-none focus:underline mr-3">
                                            {{ include('icons/edit.svg.twig', {'size': 18}) }}
                                        </a>
                                        <form action="{{ url_for('user.delete', {id: user.id}) }}" method="post">
                                            {{ csrf() }}
                                            <a href="#" title="Remove" role="button" data-message="Are you sure to remove the user {{ user.name }} ?" class="text-red-600 hover:text-red-900 focus:outline-none focus:underline remove">
                                                {{ include('icons/trash.svg.twig', {'size': 18}) }}
                                            </a>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        {{ include('backend/_partials/empty.html.twig') }}
    {% endif %}
{% endblock %}